 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! My name is João Paulo and I am an application and game developer. I graduated in Digital Games at the Pontifícia Universidade Católica de Minas Gerais and currently work as Unity Developer at Gaz Games, having as main functions to develop mixed reality applications (VR, AR and location based experiences) and game development for mobile devices.</p>
                </div>
                <div class="col-lg-4">
                    <p>My main goal is to create meaningful games and applications that can be a fun and new experience for users, bringing them new technologies and new ways of interacting with technology. I'm also very interested in shader development and procedural content generation. </p>
                </div>
            </div>
        </div>
    </section>
